.game-board {
    --square-size: 40px;
    display: grid;
    grid-template-columns: repeat(3, var(--square-size));
    grid-template-rows: repeat(3, var(--square-size));
    gap: 4px;
    width: fit-content;
  }