@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap%27');

.work-sans {
  font-family: 'Work Sans', sans-serif;
}

:root {
  --primary: #646cff;
  --primary-light: #535bf2;/**/
  --input-background: #1a1a1a;
  --paper: #333333;/**/
  --bg-code: #2c2c54;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
  
    --color: #232323;
    --primary: #747bff;/**/
    --input-background: #eae8e8;/**/
    --paper: #c7ecee;
    --bg-code: #f8efba;
  }
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-light);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body,
html {
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--input-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
/* 
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
} */

.flex {
  display: flex;
}

.flex.center:not(.col) {
  justify-content: center;
}

.flex.col {
  display: flex;
  flex-direction: column;
}

.flex.col.center {
  align-items: center;
}

.gap-1 {
  gap: 2px;
}

.gap-2 {
  gap: 4px;
}

.gap-3 {
  gap: 8px;
}


.textfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
hr {
  width: 100%;
}

/* TicTacToe */

.game {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square.winning-square {
  background-color: var(--primary);
}
.square {
  all: unset;
  width: 40px;
  height: 40px;
  background-color: var(--paper);
  border-radius: 2px;
  text-align: center;
}



