.vertical-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  input {
    padding: 0.6rem 1.2rem;
    background-color: var(--input-background);
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid transparent;
    max-width: 100%;
  }
  input:hover {
    border-color: var(--primary);
  }

  input:focus,
  input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
